@using Models
@model string
@{
    string lang = Model;
}
<div>
    @using (Html.BeginForm())
    {
        <input type="hidden" name="lang" />
        @foreach (var item in GlobalConstants.SelectLangs())
        {
            var btnClass = "btn-default";
            if (item.Lang == lang)
            {
                btnClass = "btn-primary";
            }
            <a href="#" class="submit btn @btnClass" data-lang="@item.Lang" title="Покажи данните на @item.Title">@item.Lang.ToUpper()</a>
        }
    }
    <br/>
</div>
<script>
    $(function () {
        $('a.submit').click(function () {
            var lang = $(this).data('lang');
            $(this).parents('form:first').find('input[type="hidden"]').val(lang);
        });
    });
</script>