@model ChangeSelfPasswordViewModel
<form asp-action="@ViewBag.actionName" method="post" id="frmPassChange">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <textbox for="OldPassword" type="password"></textbox>
    <textbox for="Password" type="password"></textbox>
    <textbox for="PasswordAgain" type="password"></textbox>
    <div class="form-group">
        <input type="submit" value="Запис" class="btn btn-success btn-flat" />
    </div>
</form>
<script>
    $('#frmPassChange').ajaxForm({
        complete: function (xhr) {
            //debugger;
            if (xhr.status == 200) {
                window.location.href = window.location.href;
            } else {
                $('#frmPassChange').parent().html(xhr.responseText);
            }
        }
    });
</script>