@model UserEditVM
@{

    ViewData["Title"] = "Редакция на Потребител";

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.actionName" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <input asp-for="Email" type="hidden" />

            <display for="Email"></display>
            <textbox for="GivenName"></textbox>
            <textbox for="MiddleName"></textbox>
            <textbox for="FamilyName"></textbox>
            <checkbox for="IsActive"></checkbox>
            <checkbox for="IsMailConfirmed"></checkbox>
            <div class="form-group">
                <input type="submit" value="Запис" class="btn btn-success btn-flat" />
                <a asp-action="Users" class="btn btn-danger btn-flat">Назад</a>
                <a asp-action="Users_Roles" asp-route-id="@Model.Id" class="btn btn-warning btn-flat pull-right">Роли</a>
            </div>
        </form>
    </div>
</div>

