/*!
    site.css
*/
.flags {
    display: inline-block;
    width: 48px;
    height: 48px;
}

    .flags.bg {
        background: url(/images/flag-bg.png) no-repeat;
    }

    .flags.en {
        background: url(/images/flag-en.png) no-repeat;
    }

div#messageContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar-menu ul li a {
    white-space: normal;
    word-wrap: break-word;
}

li.jstree-node a {
    font-size: 12pt;
    margin-bottom: 5px;
}

    li.jstree-node a:hover {
        background-color: #b5d5e8;
    }


.dropdown-menu li.danger {
    background-color: #dd4b39;
    color: white !important;
}

    .dropdown-menu li.danger a {
        color: white !important;
    }

        .dropdown-menu li.danger a:hover {
            background-color: #ff0000 !important;
        }

.search-form {
    margin-top: 10px;
}

    .search-form div {
        float: left;
        margin-right: 10px;
    }

        .search-form div span {
            display: block;
        }

        .search-form div.row {
            float: none;
            margin-left: 0;
            margin-right: 0;
        }

.icon-wrapper {
    position: relative;
}

    .icon-wrapper i.fa {
        position: absolute;
        top: 10px;
        right: 12px;
        color: rgb(60, 141, 188);
    }

.form-control-description {
    font-style: italic;
}
/*Overrides*/

ul.breadcrumb {
    margin-bottom: 0;
}

section.content-header h2 {
    margin-top: -10px;
}

/*Grid overrides*/

.image--left .image {
    float: left;
    margin: 0 10px 10px 0;
}

.article--news {
    min-height: 250px;
}

    .article--news .date {
        float: right;
    }

.used-file-remove-button {
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
}

.used-file-add-button {
    margin-top: 10px;
}

.used-file-block a {
    color: #444;
}

.used-file-block:hover {
    background-color: #ddd;
}

.used-file-block a:hover {
    color: #5d5d99;
}


.used-file-block .add-info {
    font-style:italic;
}

h3.plainModal-title {
    margin-top: 5px;
}

.used-file-block i {
    color: #fff;
}

span.lang-name {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.checkbox label.control-label{
    font-size:100% !important;
    font-weight:700;   
}