@model Models.Context.Account.CheckBoxListItem

<div class="col-md-4 check-list">
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.Display)
    <div>
        @Html.CheckBoxFor(x => x.IsChecked)
        @Html.LabelFor(x=>x.IsChecked, Model.Display)
    </div>    
</div>
