@model Models.Context.Account.CheckBoxListItem

<div class="col-md-3">
    @Html.HiddenFor(x => x.ID)
    @*@Html.HiddenFor(x => x.ParentCategoryID)*@
    @Html.HiddenFor(x => x.Display)
    @Html.CheckBoxFor(x => x.IsChecked)
    @Html.LabelFor(x => x.IsChecked, Model.Display)
</div>
