@model double

<div class="form-group">
    <label asp-for="@Model" class="control-label"></label>
    <input asp-for="@Model" class="form-control" />
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>