@{
    ViewData["Title"] = "Обществени консултации";
}

<section class="content">
    <div class="toolbar pull-left">
        <a asp-action="Add" class="btn btn-success btn-flat">Добави нова обществена консултация</a>
    </div>
    <table id="mainTable" class="table" cellspacing="0"></table>
</section>
@section scripts{
    <script>
    $(function () {
         var dt  = $('#mainTable').DataTable({
             "ajax": {
                 "url": '@Url.Action("LoadData")',
                 data: function (d) { },
                 //    d.active = $('#cboxActive').is(':checked');
                 //    d.confirmed = $('#cboxConfirmed').is(':checked');
                 //},
                 "type": "POST"
             },
             fnDrawCallback: function (settings) {
                 $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
             },
             "dom": '<"toolbar">frtip',
             "order": [[1, "desc"]],
             "columns": [
                 {
                     data: "title",
                     title: 'Заглавие',
                     sortable: true,
                     searchable: true
                 },
                 {
                     data: "openningDate",
                     title: 'Начало',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         return JsonBGdate(value);
                     }
                 },
                 {
                     data: "closingDate",
                     title: 'Край',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         return JsonBGdate(value);
                     }
                 },
                 {
                     data: "isApproved",
                     title: 'Одобрена',
                     sortable: true,
                     searchable: false,
                     className: "text-center",
                     "render": function (value) {
                         return value ? 'ДА' : 'НЕ';
                     }
                 },
                 {
                     data: "id",
                     "render": function (value) {
                         var updateUrl = '@Url.Action("Edit",new { id = "666"})'.replace('666', value);
                         var updButton = '<a href="' + updateUrl + '" class="btn btn-warning">Редакция</a>';
                         return updButton;
                     },
                     sortable: false,
                     searchable: false
                 }
             ]
             //rowCallback: function (row, data) {
             //    if (data["isActive"] === false) {
             //        $(row).addClass("disabled");
             //    }
             //    if (data["isConfirmed"] === false) {
             //        $(row).addClass("unconfirmed");
             //    }
             //}
        });
        //$('#cboxActive, #cboxConfirmed').change(function () {
        //    dt.ajax.reload();
        //})
    });

    </script>

}

