@model IEnumerable<PageVM>
@if (Model.Count() > 0)
{

    <div class="aside row">
        <div class="title">
            @ViewBag.menuTitle
        </div>
        <ul class="list--default">
            @foreach (var item in Model)
            {
                var linkUrl = Url.Action("Preview", "Page", new { id = item.ContentId, url = item.Url });
                if (!string.IsNullOrEmpty(item.Action))
                {
                    linkUrl = Url.Action(item.Action, item.Controller, new { area = "" });

                }
                <li>
                    <a href="@Html.Raw(linkUrl)">
                        @item.Title
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    @*<span>Няма данни.</span>*@
}