@model List<MenuLinkViewModel>
<div class="aside row">
    @foreach (var item in Model)
    {
        <div class="title">
            <a href="@item.Url" target="_blank">
                @item.Title
            </a>
        </div>
    }
</div>
