<div class="aside row">
    <div class="title">
        <a href="@Url.Action("NewCalculation", "Calculator", new { area = "" })" target="_blank">
            Калкулатор
        </a>
    </div>
    <div class="title">
        <a href="@Url.Action("Index", "MulticriteriaAnalysis", new { area = "" })" target="_blank">
            Мултикритериен калкулатор
        </a>
    </div>
</div>
