<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
        @Html.Raw("Липсват данни за анкетата или анкетата все още не е създадена. Моля, опитайте по-късно!")
    </div>
</div>
