@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName;
}
<script>
    var currentLang = '@currentCulture';
</script>
<form asp-action="SetLanguage" asp-controller="Home" method="post"  class="lang-select">
    <input name="returnUrl" type="hidden" value="@(Html.ViewContext.HttpContext.Request.Path+Html.ViewContext.HttpContext.Request.QueryString)" />
        @switch (currentCulture)
        {
            case "en":
                <input type="hidden" name="culture" value="bg" />
                <a href="#" data-lang="bg"><b>Български</b></a>
                break;
            default:
                <input type="hidden" name="culture" value="en" />
                <a href="#" data-lang="en"><b>English</b></a>
                break;
        }
</form>
