@using System.Linq;
@{
    var currentUser = User.Identity;
    bool isAuthenticated = currentUser?.IsAuthenticated ?? false;
    var fullName = "";
    var userId = "";
    if (isAuthenticated)
    {

        var claims = (System.Security.Claims.ClaimsIdentity)currentUser;
        fullName = claims.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Name).FirstOrDefault()?.Value;
        userId = claims.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Sid).FirstOrDefault()?.Value;
        if (string.IsNullOrEmpty(fullName?.Trim()))
        {
            fullName = claims.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Email).FirstOrDefault()?.Value;
        }
    }
}
@if (isAuthenticated)
{
    @inject Models.Contracts.INotificationService notificationService;
    var notificationCount = notificationService.CurrentUserSystemNotification_NewMessages();
    if (notificationCount > 0)
    {
        <div class="button--users user-notification hidden-md hidden-sm hidden-xs">
            <a asp-action="Index" asp-controller="Notifications" asp-area="">
                <i class="fa fa-bell-o"></i>
                <span>@notificationCount</span>
            </a>
        </div>
    }
    <div class="button--users hidden-md hidden-sm hidden-xs">
        <img src="~/dist/assets/users.svg" alt="Икона потребители" />&nbsp;
        <span>@fullName</span>
        <ul>
            <li><a asp-action="Profile" asp-controller="Account" asp-area=""><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Профил</a></li>

            <li>
                <a asp-action="Index" asp-controller="Notifications" asp-area="">
                    <i class="fa fa-bell-o"></i>&nbsp;&nbsp;Съобщения @if (notificationCount > 0)
                    {<span> (@notificationCount)</span>}
                </a>
            </li>

            <li><a asp-action="Logoff" asp-controller="Account" asp-area=""><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Изход</a></li>
        </ul>
    </div>

}
else
{
    <a asp-action="Login" asp-controller="Account">
        <div class="button--users">
            <img src="~/dist/assets/users.svg" alt="Икона потребители" />&nbsp;
            <span>Потребителски вход</span>
        </div>
    </a>
}
