@inject IStringLocalizer<AccountResources> Localizer
@using System.Linq;
@{
    var currentUser = User.Identity;
    bool isAuthenticated = currentUser?.IsAuthenticated ?? false;
    var fullName = "";
    var userId = "";
    if (isAuthenticated)
    {

        var claims = (System.Security.Claims.ClaimsIdentity)currentUser;
        fullName = claims.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Name).FirstOrDefault()?.Value;
        userId = claims.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Sid).FirstOrDefault()?.Value;
        if (string.IsNullOrEmpty(fullName?.Trim()))
        {
            fullName = claims.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Email).FirstOrDefault()?.Value;
        }
    }
}
<div class="button--users user-notification hidden-md hidden-sm hidden-xs">
    <a asp-action="Index" asp-controller="Home" asp-area="">
        <i class="fa fa-home"></i>
        <span>@Localizer["Home"]</span>
    </a>
</div>
@if (isAuthenticated)
{
    @inject Models.Contracts.INotificationService notificationService;
    @inject WebCommon.Services.IUserContext userContext;
    var notificationCount = notificationService.CurrentUserSystemNotification_NewMessages();
    if (notificationCount > 0)
    {
        <div class="button--users user-notification hidden-md hidden-sm hidden-xs">
            <a asp-action="Index" asp-controller="Notifications" asp-area="">
                <i class="fa fa-bell-o"></i>
                <span>@notificationCount</span>
            </a>
        </div>
    }
    <div class="button--users hidden-md hidden-sm hidden-xs">
        <img src="~/dist/assets/users.svg" alt="user" />&nbsp;
        <span>@fullName</span>
        <ul>
            <li><a asp-action="Profile" asp-controller="Account" asp-area=""><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;@Localizer["Profile"]</a></li>

            <li>
                <a asp-action="Index" asp-controller="Notifications" asp-area="">
                    <i class="fa fa-bell-o"></i>&nbsp;&nbsp;@Localizer["Messages"] @if (notificationCount > 0)
                    {<span> (@notificationCount)</span>}
                </a>
            </li>

            @if (userContext.IsInRole(GlobalConstants.Roles.AdminForum))
            {
                <li><a asp-action="Index" asp-controller="Admin" asp-area="Forums"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;@Localizer["ForumAdmin"]</a></li>
            }

            <li><a asp-action="Logoff" asp-controller="Account" asp-area=""><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;@Localizer["Logoff"]</a></li>
        </ul>
    </div>

}
else
{
    <a asp-area="" asp-action="Login" asp-controller="Account">
        <div class="button--users">
            <img src="~/dist/assets/users.svg" alt="user" />&nbsp;
            <span>@Localizer["UserLogin"]</span>
        </div>
    </a>
}
