<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Министерски съвет | Обществени консултации</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/dist/swiper.min.css">
    <link rel="stylesheet" href="~/dist/styles.min.css">
</head>
<body>
    <div class="wrapper">
        <header class="header--main">
            <div class="titles">
                <div class="logo">
                    <img src="~/dist/assets/logo.png" alt="Министерски съвет Портал за обществени консултации лого"
                         srcSet="~/dist/assets/logo@2x.png 1000w" />
                </div>
                <button class="menu">
                    <img src="~/dist/assets/icon-menu-close.png" alt="Икона затвори меню"
                         class="close__img">
                    <span>Меню</span>
                    <img src="~/dist/assets/icon-hamburger.png" alt="Икона меню"
                         class="open">
                </button>
                <div class="user">
                    <button class="button--users">
                        <img src="~/dist/assets/users.svg" alt="Икона потребители" />
                        <span>Потребителски вход</span>
                    </button>
                </div>
                <form class="search">
                    <button type="submit">
                        <img class="icon--default" src="~/dist/assets/magnifier.svg" alt="Икона търсене" />
                    </button>
                    <input type="text"
                           class="input--search"
                           placeholder="Търсене" />
                </form>
            </div>
            <nav class="nav">
                <ul class="list">
                    <li class="to_activate search">
                        <form class="search">
                            <div class="magnifier__wrapper">
                                <img class="icon--default" src="~/dist/assets/magnifier.svg" alt="Икона търсене" />
                            </div>
                            <input type="text"
                                   class="input--search"
                                   placeholder="Търсене" />
                        </form>
                    </li>
                    <li>
                        <a href="/">ОБЩЕСТВЕНИ КОНСУЛТАЦИИ</a>
                    </li>
                    <li>
                        <a href="/">СТРАТЕГИЧЕСКИ ДОКУМЕНТИ</a>
                    </li>
                    <li>
                        <a href="/">ПУБЛИКАЦИИ</a>
                    </li>
                    <li>
                        <a href="/">НОВИНИ</a>
                    </li>
                    <li>
                        <a href="/">ДИСКУСИИ</a>
                    </li>
                    <li>
                        <a href="/">ПАРТНЬОРСТВО ЗА ОТРКИТО УПРАВЛЕНИЕ</a>
                    </li>
                    <li class="to_activate users">
                        <button class="button--users">
                            <img src="~/dist/assets/users.svg" alt="Икона потребители" />
                            <span>Потребителски вход</span>
                        </button>
                    </li>
                </ul>
            </nav>

        </header>
        <div class="body">
            <header class="header--category">
                <div class="title">
                    Обществени консултации
                </div>
                <div class="image__wrapper">
                    <img src="~/dist/assets/header_gallery.png" alt="">
                </div>
            </header>
            <div class="breadcrumbs">
                / <a href="#">Начало</a>
                / <a href="#">Обществени консултации</a>
                / <a href="#">Национални</a>
                / <a href="#">Бизнес среда</a>
            </div>
            <div class="container-fluid information">
                <div class="row">
                    <div class="col-md-3">
                        <div class="aside row">
                            <div class="title">
                                Консултативни съвети от  област
                                „Бизнес среда“
                            </div>
                            <ul class="list--default">
                                <li><a href="#">Заглавие</a></li>
                                <li class="active"><a href="#">Заглавие</a></li>
                                <li><a href="#">Заглавие</a></li>
                            </ul>
                            <div class="title">
                                Ресурсни източници
                            </div>
                            <ul class="list--default">
                                <li><a href="#">Линк</a></li>
                                <li><a href="#">Линк</a></li>
                                <li><a href="#">Линк</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 body">
                        <p class="title">
                            С предложения за обсъждане законопроект за изменение и допълнение на Закона за експортното застраховане се променя системата на управление на „БАЕЗ“ ЕАД от едностепенна на двустепенна, като отпада Междуведомственият съвет за експортно застраховане (МСЕЗ) като орган, който взема решения по чл. 13, ал. 1 от ЗЕЗ, а МСЕЗ се заменя с Надзорен съвет на „БАЕЗ“ ЕАД; хармонизира се разпоредба в ЗЕЗ с действащия Кодекс за Застраховането и се прецизират отделни разпоредби.
                        </p>
                        <!-- TABLE DATES -->
                        <div class="row">
                            <div class="col-md-5">
                                <table class="table table-bordered table--dates table--stripped">
                                    <tbody>
                                        <!-- LOOP -->
                                        <tr>
                                            <td>Дата на отркиване:</td>
                                            <td>18.07.2018 г.</td>
                                        </tr>
                                        <!-- END LOOP -->
                                        <tr>
                                            <td>Дата на приключване:</td>
                                            <td>18.09.2018 г.</td>
                                        </tr>
                                        <tr>
                                            <td>Сфера на действие:</td>
                                            <td>Бизнес среда</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END TABLE DATES -->
                        <!-- TABLE DOCUMENTS -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table--documents table--stripped">
                                    <tbody>
                                        <!-- LOOP -->
                                        <tr>
                                            <td>
                                                <div class="icon">
                                                    <img src="~/dist/assets/icon_pdf.png" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                Документ за <a href="#">изтегляне</a> / <a href="#">разглеждане</a>
                                            </td>
                                        </tr>
                                        <!-- END LOOP -->
                                        <tr>
                                            <td>
                                                <div class="icon">
                                                    <img src="~/dist/assets/icon_word.png" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                Документ за изтегляне / разглеждане
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="icon">
                                                    <img src="~/dist/assets/icon_word.png" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                Документ за изтегляне / разглеждане
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END  TABLE DOCUMENTS -->
                        <div class="title">Коментари</div>
                        <!-- COMMENTS -->
                        <div class="row  comments">
                            <div class="col-md-12 comment">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Заглавие</h3>
                                    </div>
                                    <div class="panel-body">Описание на коментара</div>
                                    <div class="panel-footer">
                                        <span class="name">Иван Иванов</span> 21.12.2018 16:30
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 comment">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Заглавие</h3>
                                    </div>
                                    <div class="panel-body">Описание на коментара</div>
                                    <div class="panel-footer">
                                        <span class="name">Иван Иванов</span> 21.12.2018 16:30
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END COMMENTS -->
            <!-- IMAGES  -->
            <div class="image__wrapper--swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- LOOP -->
                        <div class="head__image swiper-slide">
                            <div class="image__wrapper"
                                 style="background-image:url(~/dist/assets/123.png)">
                            </div>
                            <div class="title__wrapper">
                                <div class="logo">
                                    <img src="~/dist/assets/Coat_of_arms_of_Bulgaria.svg" alt="Герб" />
                                </div>
                                <div class="title">
                                    <h3>ПАРТНЬОРСТВО В УПРАВЛЕНИЕТО</h3>
                                </div>
                            </div>
                        </div>
                        <!-- END LOOP -->

                        <div class="head__image swiper-slide">
                            <div class="image__wrapper"
                                 style="background-image:url(~/dist/assets/123.png)">
                            </div>
                            <div class="title__wrapper">
                                <div class="logo">
                                    <img src="~/dist/assets/Coat_of_arms_of_Bulgaria.svg" alt="Герб" />
                                </div>
                                <div class="title">
                                    <h3>СТРАТЕГИЧЕСКИ ДОКУМЕНТИ</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
            <!-- END IMAGES  -->
            <!-- ARTICLES & NEWS -->
            <div class="article__wrapper">
                <!-- LOOP -->
                <article class="article">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                    </body>
                </article>
                <!-- END LOOP -->

                <article class="article">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Not so many years ago businesses used to
                            grunt at using illustrations in their marketing
                            materials. But today, the use.. and influence of
                            illustrations is growing right along.
                        </p>
                    </body>
                </article>
                <article class="article">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Sometimes this is the irony of promoting your
                            businesses products and services, because
                            for a fact that you want to mak.
                        </p>
                    </body>
                </article>
            </div>
            <section class="section__wrapper">
                <div class="section">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <p class="description">
                        Not so many years ago businesses used to
                        grunt at using illustrations in their marketing
                        materials. But today, the use.. and influence of
                        illustrations is growing right along.
                    </p>
                </div>
                <div class="section">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <p class="description">
                        Not so many years ago businesses used to
                        grunt at using illustrations in their marketing
                        materials. But today, the use.. and influence of
                        illustrations is growing right along.
                    </p>
                </div>
                <form action="#" class="section section--subscribe">
                    <div class="inner">
                        <label for="subscribe_me" class="subscribe">АБОНИРАЙ СЕ ЗА УВЕДОМЯВАНЕ</label>
                        <input type="text" id="subscribe_me"
                               placeholder="Въведете валиден e-mail адрес">
                        <button type="submit">Абонаменти</button>
                    </div>
                </form>
            </section>

            <div class="spacer"></div>
            <!-- END ARTICLES & NEWS -->
        </div>


        <div class="row">
            <!-- LOOP -->
            <div class="col-md-3 col-sm-4">
                <article class="article--news image--left">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <p class="date date--left">25.11.2018</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                    </body>
                </article>
            </div>
            <!-- END LOOP -->
            <div class="col-md-3 col-sm-4">
                <article class="article--news image--left">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                    </body>
                </article>
            </div>
            <div class="col-md-3 col-sm-4">
                <article class="article--news">
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                        <div class="image">
                            <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                        </div>
                    </body>
                </article>
            </div>
            <div class="col-md-3 col-sm-4">
                <article class="article--news">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                    </body>
                </article>
            </div>
            <div class="col-md-3 col-sm-4">
                <article class="article--news">
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                    </body>
                </article>
            </div>
            <div class="col-md-3 col-sm-4">
                <article class="article--news">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                    </body>
                </article>
            </div>

            <div class="col-md-3 col-sm-4">
                <article class="article--news image--left">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                    </body>
                </article>
            </div>
            <div class="col-md-3 col-sm-4">
                <article class="article--news">
                    <div class="image">
                        <img src="~/dist/assets/Bitmap.png" alt="Картинка">
                    </div>
                    <body>
                        <p class="type">Bussiness</p>
                        <h4 class="title">
                            What is the big reasons for
                            marketing your business
                        </h4>
                        <p class="description">
                            Donec facilisis tortor ut augue lacinia, at
                            viverra est semper. Sed sapien metus,
                            scelerisque nec pharetra id.
                        </p>
                        <p class="date">25.11.2018</p>
                    </body>
                </article>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="eu">
                <img src="~/dist/assets/EU.png" alt="Лого еу">
            </div>
            <div class="operative_program">
                <img src="~/dist/assets/operativna_programa.png" alt="Лого оперативна програма">
            </div>
        </footer>
        <!-- END FOOTER -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/dist/swiper.min.js"></script>
    <script type="text/javascript" src="~/dist/bundle.js"></script>
</body>
</html>
