<div style="background-color:#fff;margin-top:50px;">
    <div class="row">
        <div class="col-lg-4" style="padding-top:10px;">
            <img src="~/img/footer/esf_logo.png" />
        </div>       
        <div class="col-lg-4" style="text-align:center;padding-top:20px;">
            <h4>
                BG05SFOP001-2.001-0002-C01 „Администрация и гражданско общество – партньорство в управлението“, финансиран по Оперативна програма „Добро управление“
            </h4>
        </div>
        <div class="col-lg-4 pull-right" style="text-align:right;padding-top:10px;padding-right:30px;">
            @*<img src="~/img/footer/git_logo.png" />*@
            <img src="~/img/footer/opdu.png" />
        </div>
    </div>
</div>
