@{
    ViewData["Title"] = "Статично съдържание";
}
<section class="content">
    <div class="pull-left">
        <a asp-action="Add" class="btn btn-success btn-flat">Добави</a>
    </div>
    <table id="mainTable" class="table" cellspacing="0"></table>
</section>
@section scripts{
    <script>
    $(function () {
        var dt = $('#mainTable').DataTable({
            "ajax": {
                "url": '@Url.Action("LoadData")',
                "type": "POST"
            },
            fnDrawCallback: function (settings) {
                $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
            },
            "columns": [
                {
                    data: "alias",
                    title: 'Стойност'
                },
                {
                    data: "title",
                    title: 'Заглавие'
                },
                {
                    data: "remark",
                    title: 'Забележка'
                },
                {
                    data: null,
                    "render": function (item) {
                        var updateUrl = '@Url.Action("Edit",new { id = "666"})'.replace('666', item.alias);
                        var updButton = '<a href="' + updateUrl + '" class="btn btn-warning">Редакция</a>';
                        return updButton;
                    },
                    sortable: false
                }
            ]
        });

    });

    </script>

}
