@model Models.Context.MulticriteriaAnalysis.CriteriaValue
@{
  if (Model.Id > 0)
  {
      ViewData["Title"] = "Редакция на позволена стойност '" + ViewBag.CriteriaValue + "'";
  }
  else
  {
      ViewData["Title"] = "Добавяне на нова позволена стойност по критерий '" + ViewBag.CriteriaName + "'";
  }
}
<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <form asp-action="@ViewBag.actionName" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <input asp-for="CriteriaId" type="hidden" />
                <textbox for="Name"></textbox>
                <textbox for="Value" typeof="number"></textbox>
                <div class="form-group">
                    <input type="submit" value="Запис" class="btn btn-success btn-flat" />
                    <a asp-action="CriteriaValues" asp-route-_CriteriaId="@Model.CriteriaId" class="btn btn-danger btn-flat">Назад</a>
                </div>
            </form>
        </div>
    </div>
</section>
