@model Groups
@{
    if (Model.Id > 0)
    {
        ViewData["Title"] = "Редакция на група";
    }
    else
    {
        ViewData["Title"] = "Добавяне на група";
    }
}
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="@ViewBag.actionName" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />

                <textbox for="Name"></textbox>
                <checkbox for="IsActive"></checkbox>
                <div class="form-group">
                    <input type="submit" value="Запис" class="btn btn-success btn-flat" />
                    <a asp-action="Index" class="btn btn-danger btn-flat">Назад</a>
                </div>
            </form>
        </div>
    </div>
</section>
