@{
    Layout = "~/Views/Shared/_LoginBoxLayout.cshtml";
}
<div class="register-box">
    <div class="login-logo">
        Ограничен достъп
    </div>
    <div class="login-box-body">
        <div class="row">
            <div class="col-lg-6">
                <h4>Грешка</h4>
                <p>Търсения от Вас ресурс е с ограничен достъп.</p>
            </div>
        </div>
    </div>
</div>
