
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IdServer</title>
</head>
<body>
    <h1>IdServer</h1>
    <h3>#saglasisebe!</h3>
</body>
</html>
