@model ForgottenPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    ViewData["Title"] = "Забравена парола";
}

<h3 style="margin-bottom:20px;">@ViewData["Title"]</h3>
<form asp-route="ForgottenPassword">
    <textbox for="UserName"></textbox>
    <div class="row">
        <div class="col-lg-6">
            <a asp-action="Login" asp-controller="Home">Обратно</a>
        </div>
        <div class="col-lg-6 pull-right">
            <button class="btn btn-primary btn-block btn-flat" type="submit">Изпрати</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <!-- /.col -->
</form>
