@{
    ViewData["SectionTitle"] = "Обществени консултации";
}
@section breadcrumbs{
    <div class="breadcrumbs">
        / <a href="#">Начало</a>
        / <a href="#">Обществени консултации</a>
    </div>
}


<div class="container-fluid information">
    <div class="row">
        <div class="col-md-3">
            <div class="aside row">
                <div class="title">
                    Консултативни съвети от  област
                    „Бизнес среда“
                </div>
                <ul class="list--default">
                    <li><a href="#">Заглавие</a></li>
                    <li class="active"><a href="#">Заглавие</a></li>
                    <li><a href="#">Заглавие</a></li>
                </ul>
                <div class="title">
                    Ресурсни източници
                </div>
                <ul class="list--default">
                    <li><a href="#">Линк</a></li>
                    <li><a href="#">Линк</a></li>
                    <li><a href="#">Линк</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 body">
            <h2>
                Предложение за разглеждане на документ
            </h2>
            <p class="title">
                С предложения за обсъждане законопроект за изменение и допълнение на Закона за експортното застраховане се променя системата на управление на „БАЕЗ“ ЕАД от едностепенна на двустепенна, като отпада Междуведомственият съвет за експортно застраховане (МСЕЗ) като орган, който взема решения по чл. 13, ал. 1 от ЗЕЗ, а МСЕЗ се заменя с Надзорен съвет на „БАЕЗ“ ЕАД; хармонизира се разпоредба в ЗЕЗ с действащия Кодекс за Застраховането и се прецизират отделни разпоредби.
            </p>
            <!-- TABLE DATES -->
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-bordered table--dates table--stripped">
                        <tbody>
                            <!-- LOOP -->
                            <tr>
                                <td>Дата на отркиване:</td>
                                <td>18.07.2018 г.</td>
                            </tr>
                            <!-- END LOOP -->
                            <tr>
                                <td>Дата на приключване:</td>
                                <td>18.09.2018 г.</td>
                            </tr>
                            <tr>
                                <td>Сфера на действие:</td>
                                <td>Бизнес среда</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END TABLE DATES -->
            <!-- TABLE DOCUMENTS -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table--documents table--stripped">
                        <tbody>
                            <!-- LOOP -->
                            <tr>
                                <td>
                                    <div class="icon">
                                        <img src="~/dist/assets/icon_pdf.png" alt="">
                                    </div>
                                </td>
                                <td>
                                    Документ за <a href="#">изтегляне</a> / <a href="#">разглеждане</a>
                                </td>
                            </tr>
                            <!-- END LOOP -->
                            <tr>
                                <td>
                                    <div class="icon">
                                        <img src="~/dist/assets/icon_word.png" alt="">
                                    </div>
                                </td>
                                <td>
                                    Документ за изтегляне / разглеждане
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <img src="~/dist/assets/icon_word.png" alt="">
                                    </div>
                                </td>
                                <td>
                                    Документ за изтегляне / разглеждане
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END  TABLE DOCUMENTS -->
            <div class="title">Коментари</div>
            <!-- COMMENTS -->
            <div class="row  comments">
                <div class="col-md-12 comment">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Заглавие</h3>
                        </div>
                        <div class="panel-body">Описание на коментара</div>
                        <div class="panel-footer">
                            <span class="name">Иван Иванов</span> 21.12.2018 16:30
                        </div>
                    </div>
                </div>
                <div class="col-md-12 comment">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Заглавие</h3>
                        </div>
                        <div class="panel-body">Описание на коментара</div>
                        <div class="panel-footer">
                            <span class="name">Иван Иванов</span> 21.12.2018 16:30
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END COMMENTS -->