@model Models.ViewModels.Questionary.FillQuestionaryViewModel
@section breadcrumbs{
<div class="breadcrumbs">
    / <a href="@Url.Action("Index","Home")">Начало</a>
    / <a href="@Url.Action("Index","Questionary")">Анкети</a>
    / <a href="#">Попълване на анкета</a>
</div>
}

<partial name="_FillQuestionarySuccess" model="@Model" />
